
.contain-table{
  width: 900px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.contain-table1{
  width: 900px;
  border: 10px solid blue;
  padding: 40px;
  margin: 20px;
}

.small-container{
  margin: 5px;
  
}

.tast-list{
  color: brown;
  width: auto;
  text-align: center;
}

